/***WEB DEV BOOTCAMP CSS STYLES****/
body {
  text-align: center;
}

a {
  color: orange;
}

a:hover {
  color: yellow;
}

table {
  background-color: #48613c;
  color: #eee8aa;
  width: 50%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

hr {
  border-style: none;
  background-color: grey;
  width: 100%;
}

h3 {
  color: #0f1a12;
  margin: 0 5px 5px 5px;
}

/****CLASS STYLES****/
