/**COLLOR PALLET
Seafoam-Green   #2F5233
Lime-Green      #76B947
Spearmint       #94C973
Kelly-Green     #B1D8B7
Grey-normal     #7d7d7d
Palegoldenrod   #eee8aa
Orange-yellow   #fc8803
Creme           #d9d184
**/
/***WEB DEV BOOTCAMP CSS STYLES****/
body {
  margin: 0;
  text-align: center;
  font-family: verdana, arial, sans-serif;
  background-color: #B1D8B7;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto 0 auto;
  width: 50%;
  color: #2F5233;
  font-weight: bold;
}

h2 {
  font-family: 'Italianno', cursive;
  font-size: 2em;
  color: #ab413a;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto 0 auto;
  padding-bottom: 10px;
  color: #2F5233;
  font-size: 45px;
  font-weight: bold;
}

p {
  color: #7d7d7d;
  padding-top: 20px;
  line-height: 2;
}

a {
  color: #2F5233;
  text-decoration: none;
}

a:hover {
  color: #fc8803;
}

/*hr {
  border-style: none;
  background-color: #7d7d7d;
  width: 80%;
}*/

/****CLASS STYLES****/
/*top*/
.top-container {
  position: relative;
  padding-top: 100px;
  padding-bottom: 30px;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: #fc8803;
}

/*.top-cloud {
  height: 90px;
  position: absolute;
  right: 375px;
  top: 25px;
}

.middle-cloud {
  height: 150px;
  position: absolute;
  right: 250px;
  top: 250px;
}

.bottom-cloud {
  height: 100px;
  position: absolute;
  left: 300px;
  bottom: 300px;
}*/

.p-styled p {
  color: #7d7d7d;
  padding: 0;
}

/*middle-1*/
.middle-container-1 {
  background-color:  #d9d184;
  padding: 100px;
}

.middle-container-1-img {
  width: 75px;
}

.project-list {
  text-align: left;
  padding: 0.5% 30% 0.5% 30%;
  display: flex;
}

.project-list img {
  width: 75px;
}

/*middle-2*/
.middle-container-2 {
  padding: 100px;
  background-color: #eee8aa;
}

.middle-container-2 p {
  padding: 0;
  margin: 0;
  text-align: left;
}

.paragraph-container {
  padding: 30px;

}

.biography-left {
  padding: 0 20% 0 20%;
  display: inline-flex;
}

.biography-right {
  padding: 0 20% 0 20%;
  display: inline-flex;
}

.biography-img {
  width: 150px;
  height: 150px;
}

/*bottom*/
.bottom-container {
  font-size: 20px;
  padding: 100px;
}

.footer-icons-div {
  text-align: center;
  padding-top: 20px;
  display: inline-block;
}

.footer-img {
  width: 75px;
}
