/**COLLOR PALLET
Background             #B1D8B7
                       #eee8aa
                       #758f79
Títulos                #2F5233
Sub-títulos            #f0265f
Texto p/ fundo claro   #7d7d7d
Texto p/ fundo escuro  #4a1b1d
Link                   #f0611a
Link hover             #e32d2d

**/
/***WEB DEV BOOTCAMP CSS STYLES****/
body {
  margin: 0;
  text-align: center;
  font-family:sans-serif;
  background-color: #B1D8B7;
}

h1 {
  margin: 0 auto 0 auto;
  width: 50%;
  color: #2F5233;
  font-size: 2.7em;
  font-weight: bold;
}

h2 {
  margin: 0 auto 0 auto;
  width: 50%;
  color: #2F5233;
  font-size: 2em;
}

h3 {
  font-family: serif;
  font-size: 1.2em;
  font-style: italic;
  color: #f0265f;
}

p {
  color: #7d7d7d;
  padding-top: 5px;
  line-height: 2;
}

a {
  color: #4a1b1d;
  text-decoration: none;
}

a:hover {
  color: #e32d2d;
}

/****CLASS STYLES****/

/*Navigation bar*/
.nav-bar {
  display: inline;
}

.nav-list {
  background-color: #758f79;
  color: #2F5233;
  text-align: left;
}

.nav-list ul {
  display: inline-block;
  list-style-type: none;
  padding-left: 50px;
}

.nav-list li {
  display: inline-block;
  padding-left: 10px;
}

.nav-list img {
  height: 35px;
}

/*top*/
.top-container {
  position: relative;
  padding-top: 100px;
  padding-bottom: 30px;
}

.top-container a {
  background-color: #eee8aa;
  color: #f0611a;
  padding: 2px 5px;
  border-radius: 12%;
}

.top-container img {
  padding-top: 100px;
}

.quotation q {
  color: #7d7d7d;
  padding: 0;
  font-style: italic;
}

/*middle-1*/
.middle-container-1 {
  padding: 100px;
  background-color: #eee8aa;
}

.middle-container-1 p {
  padding: 0;
  margin: 0;
  text-align: left;
}

.paragraph-container {
  padding: 30px;
}

.biography-left {
  padding: 0 20% 0 20%;
  display: inline-flex;
}

.biography-right {
  padding: 0 20% 0 20%;
  display: inline-flex;
}

.biography-img {
  width: 150px;
  height: 150px;
}

/*middle-2*/
.middle-container-2 {
  padding: 100px;
}

.middle-container-2-img {
  width: 75px;
}

.project-list {
  text-align: left;
  padding: 0.5% 30% 0.5% 30%;
  display: flex;
}

.project-list img {
  width: 75px;
}

/*bottom*/
.bottom-container {
  font-size: 20px;
  padding: 100px;
  background-color: #758f79;
}

.footer-icons-div {
  text-align: center;
  padding-top: 20px;
  display: inline-block;
}

.footer-img {
  width: 75px;
}




/*hr {
  border-style: none;
  background-color: #7d7d7d;
  width: 80%;
}*/
