/********TAG SELECTORS*********/
body {
  background-color: #b3c5e3;
}

h1, h3 {
  color: #182e52;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  width: 5%;
}

td {
  color: black;
}

/*********CLASS SELECTORS******/
.moon-table {
  background-color: #bbbfc7;
}

.hobbie-pictures {
  max-width: 450px;

}
